[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "hugo-theme-stack"]
	path = hugo-theme-stack
	url = https://github.com/CaiJimmy/hugo-theme-stack.git
[submodule "newsroom"]
	path = newsroom
	url = https://github.com/onweru/newsroom.git
