{{- $title := site.Title }}
{{- $logoText := printf "%s %s" $title (T "logo") }}
{{- $logo := trim site.Params.logo " " }}
<header class="nav">
  <nav class="nav-menu">
    <a href="{{ absURL "" }}" class="nav-brand nav_item">
      {{- if and $logo (ne $logo "") }}
        <img src="{{ $logo }}" alt="{{ $logoText }}" width="130" />
      {{- else }}
        {{ $title }}
      {{- end -}}
    </a>

   <button class="nav_bar-wrap" type="button" aria-label="Open menu">
      <svg class="nav_menu-icon" viewBox="0 0 24 24" aria-hidden="true">
        <path d="M4 7h16M4 12h16M4 17h16"></path>
      </svg>
    </button>
  </nav>
</header>